
body{
overflow-x: hidden;
}

.list .action {
  cursor: pointer;
}



.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
@media (min-width:768px){
  .dashboard{
    padding-top: 2rem;
    margin-left: 18rem;
  }
}
.text-danger{
  color: red;
}