.list .action {
  cursor: pointer;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
@media (min-width:768px){
  .dashboard{
      margin-left: 290px;
  }
}

.text-danger{
  color: red;
}