
body{
overflow-x: hidden;
background-color: #f2f3f9;
}

.list .action {
  cursor: pointer;
}
a{
  color: black;
  text-decoration: none;
}


.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
@media (min-width:768px){
  .main-page{
    padding-top: 5rem;
    margin-left: 16rem;
  }
}

.text-danger{
  color: red;
}